@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('../../public/styles/ms_sans_serif.woff2') format('woff2');
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('../../public/styles/ms_sans_serif_bold.woff2') format('woff2');
  font-weight: bold;
}

$light-black: #919b9c;
$background-color: #3c6ea5;
$text-color: #000000;

* {
  user-select: none;
}

/* Disable double-tap zooming in mobile browsers */
@media (max-width: 768px) {

  /* Target mobile devices with a maximum width of 768px */
  html {
    touch-action: manipulation;
  }
}

.glitch-fx {
  // opacity: 0.65 !important;
  filter: blur(0.2px);
  // filter: saturate(2);
  // transition: all 0.2s;
  // transform: translateX(-1px);
  // transform: translateY(-1px);
}

.group-resource-header-container {
  h1 {
    display: inline;
  }
}

body {
  background-color: $background-color;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

button {
  cursor: pointer;

}

.header {
  // height: 250px;
}

.row {
  display: flex;
  justify-content: center;
}

.window {
  max-width: 800px;
  width: 100%;
  margin: 5px;
  font-size: 16px;
  transition: opacity 0.5s ease;
}

pre {
  width: 100%;

  overflow-y: scroll;
  overflow-x: scroll;
  height: 150px;
  max-height: 150px;
}

#log-screen {}

.progress-bar-container {
  progress {
    width: 100%;
  }

  margin: 10px;
  margin-left: 0px;
}

.progress-bar-inline {
  margin-left: 10px;
  margin-right: 15px;

  progress {
    transform: translateY(-2px);
  }
}

.one-line-resource {}

.generate-button-inline {
  transform: translateY(-2px);
  margin-left: 10px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 0px;
}

.rate-text {
  font-size: 10px;
}

.hold-button-text {
  font-size: 10px;
  text-align: center;
}

.group-composition-details {
  font-size: 12px;

  ul {
    padding-left: 10px;
  }
}

hr.space-only {
  opacity: 0;
  margin: 15px;
}

fieldset {
  h1 {
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
  }

  &.no-background {
    background-color: unset;
  }

  &.basic-border {
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2;
  }

  legend.match-text {
    color: $text-color;
  }

  p.info-label {
    margin: 2px 0px;
  }

  &.resource {
    font-size: 14px;
  }
}

.store-item-container {
  display: flex;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2;
  min-height: 75px;
  justify-content: space-between;
  margin: 10px 0px;
  background: linear-gradient(180deg, #fcfcfe, #f4f3ee);

  &.disabled {
    filter: brightness(0.75);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.store-item-info {
      p {
        margin: 2px 0px;
      }

      padding-left: 10px;
    }

    &.store-item-button-container {
      padding-right: 25px;
    }
  }
}

span.cost-cant-afford {
  color: red;
  opacity: 0.85;
}