@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('../../public/styles/ms_sans_serif.woff2') format('woff2');
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('../../public/styles/ms_sans_serif_bold.woff2') format('woff2');
  font-weight: bold;
}

$light-black: #919b9c;
$background-color: #3c6ea5;
$text-color: #000000;

* {
  user-select: none;
}

.glitch-fx {
  opacity: 0.65 !important;
  transition: all 0.2s;
}

body {
  background-color: $background-color;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  // font-size: ;
  color: #000000;

}

.header {
  // height: 250px;
}

.row {
  display: flex;
  justify-content: center;
}

.window {
  max-width: 800px;
  width: 100%;
  margin: 5px;
  font-size: 16px;
}

.window-body {
  padding: 5px;
}

.progress-bar-container {
  progress {
    width: 100%;
  }

  margin: 10px;
}

progress {
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-progress-value,
  &::-moz-progress-bar {
    transition: width 0.5s ease-in-out;
  }

}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0px 0px;
}

fieldset {
  &.no-background {
    background-color: unset;
  }

  legend.match-text {
    color: $text-color;
  }

  p {
    margin: 2px 0px;
  }
}