@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('ms_sans_serif.woff2') format('woff2');
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('ms_sans_serif_bold.woff2') format('woff2');
  font-weight: bold;
}

body {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
}