@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('ms_sans_serif.woff2') format('woff2');
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('ms_sans_serif_bold.woff2') format('woff2');
  font-weight: bold;
}

body {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;

}

.header {
  height: 250px;
}

.row {
  display: flex;
  justify-content: center;
}

.window {
  margin: auto;
  margin: 25px;
  font-size: 13px;
}